# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# ChromaDB
day_6_Vector_search/chroma_db/
day_7_rag/chroma_db/

# IDE files
.vscode/
# SQLite observability database
day_11_fastapi/observability.db
# Day 10 ChromaDB
day_10_retrieval/chroma_db_chunk70/
# Day 10 ChromaDB
day_10_retrieval/chroma_db_chunk70/
